.DS_Store
**/.DS_Store

*.log

node_modules/
**/node_modules/
dist/
**/dist/

venv/
.venv/
**/venv/
**/.venv/

__pycache__/
**/__pycache__/
*.py[cod]

.env
.env.*
*.local

backend/data/dataset/
backend/data/models/
backend/data/removed_images/
backend/scratch/
